.date-range-picker-custom {
  display: block !important;
  left: 10px;
}

select {
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #0078d7;
  box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
}
