table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4caf50;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}

td {
  font-size: 0.9rem;
  color: #333;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50px;
  background: #f6f6f6;
  margin: 0 auto;
}

.search-icon {
  margin-left: 20px;
  margin-right: -20px;
}

#tender-search {
  text-align: center;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
}

#tender-search::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.click-to-detail {
  color: #0066cc;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.click-to-detail:hover {
  cursor: pointer;
  color: #004080;
  text-decoration: underline;
  background-color: rgba(0, 102, 204, 0.1);
}
