#root {
  text-align: center;
  border-radius: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input {
  margin: 0.5rem;
}

button {
  padding: 8px 15px;
  background-color: #2563eb;
  color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}
